*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
}

a, a:hover{
	text-decoration: none;
}
.header-section{
	width: 100%;
	background: url("../images/bg.png") center top no-repeat;
	background-size: inherit;
}
.header-section .bg-light{
	background-color: transparent !important;
	padding: 40px 0px;
}
.header-section .main-menu{
	width: 100%;
}
.header-section .main-menu img{
	height: 35px;
}
.header-section .main-menu .navbar-light .navbar-nav .active>.nav-link{
	padding: 0px 30px;
}
.header-section .main-menu .navbar-light .navbar-nav .nav-link {
	padding: 0px 30px;
	font-size: 16px;
	font-weight: 600;
	color: #32325d;
	transition: 1s;
}
.header-section .main-menu .navbar-light .navbar-nav .nav-link:hover, .header-section .main-menu .navbar-light .navbar-nav .nav-link:focus{
	color: #845cff;
}
.header-section .main-menu .navbar-light .navbar-nav .inner-btn01 {
	margin: -5px;
	padding: 0px 20px;
}
.header-section .main-menu .navbar-light .navbar-nav .btn-info {
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 600;
	background: #845cff;
	border: 1px solid #eee;
	transition: 1s;
}
.header-section .main-menu .navbar-light .navbar-nav .btn-info:hover, .header-section .main-menu .navbar-light .navbar-nav .btn-info:focus{
	background: transparent;
	border: 1px solid #845cff;
	color: #845cff;
}
.banner-section{
	width: 100%;
	padding: 80px 0px;
}
.banner-section .inner-banner{
	width: 100%;
	padding: 80px 0px;
}
.banner-section .inner-banner h1 {
	font-size: 40px;
	line-height: 50px;
	font-weight: 700;
	color: #32325d;
	letter-spacing: 2px;
	text-transform: initial;
	padding: 0px 0px 30px;
}
.banner-section .inner-banner p {
	font-size: 16px;
	line-height: 26px;
	color: #525f7f;
	font-weight: 400;
	padding: 0px 0px 30px;
	letter-spacing: 1px;
}
.banner-section .inner-banner .inner-btn02{

}
.banner-section .inner-banner .inner-btn02 .btn-primary{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	background: #845cff;
	border: 1px solid #eee;
	transition: 1s;
}
.banner-section .inner-banner .inner-btn02 .btn-primary:hover, .banner-section .inner-banner .inner-btn02 .btn-primary:focus{
	background: transparent;
	border: 1px solid #845cff;
	color: #845cff;
}
.banner-section .inner-banner .inner-btn02 .btn-light{
	font-size: 16px;
	font-weight: 600;
	background: transparent;
	border: none;
	color: #525f7f;
	padding: 0px 20px;
	transition: 1s;
}
.banner-section .inner-banner .inner-btn02 .btn-light:hover, .banner-section .inner-banner .inner-btn02 .btn-light:focus{
	color: #845cff;
}
.banner-section .inner-banner .inner-btn02 .fa {
	font-size: 15px;
	padding: 5px 5px;
}
.body-section{
	width: 100%;
	padding: 80px 0px;
}
.body-section .rbodySec{
	width: 100%;
	background:#fff;
	border-radius: 5px;
	box-shadow: -10px 10px 10px #eee;
}
.body-section .rbodySec img {
	height: 90px;
	margin: 35px 5px;
	padding: 0px 50px;
}
.body-section .rbodySec h5 {
	font-size: 23px;
	font-weight: 300;
	color: #212240;
	padding: 15px 50px;
}
.body-section .rbodySec p{
	font-size: 14px;
	line-height: 24px;
	color: #525f7f;
	font-weight: 400;
	padding: 0px 50px 50px;
}
.body-section .lbodySec{

}
.body-section .lbodySec h2 {
	font-size: 35px;
	font-weight: 300;
	line-height: 50px;
	letter-spacing: 1px;
	padding: 157px 0px 25px;
	margin: 0px;
	color: #212240;
}
.body-section .lbodySec p{
	font-size: 16px;
	line-height: 26px;
	color: #525f7f;
	font-weight: 400;
}

/*Body starts*/

.body .rbody, .lbody{
	width: 100%;
	background:#fff;
	border-radius: 5px;
	box-shadow: -10px 2px 10px 10px #eee;
}
.body .rbody img, .lbody img {
	height: 90px;
	margin: 35px 5px;
	padding: 0px 50px;
}
.body .rbody h5, .lbody h5 {
	font-size: 23px;
	font-weight: 300;
	color: #212240;
	padding: 15px 50px;
}
.body .rbody p, .lbody p{
	font-size: 14px;
	line-height: 24px;
	color: #525f7f;
	font-weight: 400;
	padding: 0px 50px 50px;
}

/*Body ends*/
/* Service section starts */

.service{
	width: 100%;
	padding: 80px 0px;
	text-align: center;
	background: url("../images/bg2.png") center bottom no-repeat;
	background-size: contain;
	margin: 0px;
}
.service .headerSec {
	width: 100%;
	text-align: center;
	padding: 80px 0px;
}
.service .headerSec h2{
	font-size: 35px;
	font-weight: 300;
	line-height: 50px;
	letter-spacing: 1px;
	margin: 0px;
	color: #212240;
}
.service .headerSec p {
	font-size: 16px;
	line-height: 26px;
	color: #525f7f;
	font-weight: 400;
	margin: 0px;
	padding: 30px 0px;
}

.service img {
	height: 60px;
	margin: 25px 0px 20px;
}
.service h5 {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	text-transform: capitalize;
	margin: 0px;
	padding: 10px 0px;
}
.service p {
	font-size: 14px;
	font-weight: 400;
	margin: 0px;
	color: #525f7f;
	padding: 0px 0px 90px;
}
/*Service section ends*/

/*What we do section starts*/

.whatDo{
	width: 100%;
	padding: 200px 0px 80px;
}
.whatDo .main-sec{

}
.whatDo .main-sec h2{
	font-size: 35px;
	font-weight: 300;
	line-height: 50px;
	letter-spacing: 1px;
	margin: 15px 0px 0px;
	color: #32325d;
}
.whatDo .main-sec p{
	font-size: 14px;
	font-weight: 400;
	margin: 0px;
	color: #525f7f;
	padding: 35px 0px;
}
.whatDo .main-sec .inner-sec-l h3, .whatDo .main-sec .inner-sec-r h3{
	font-size: 25px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 1px;
	margin: 0px;
	color: #32325d;
	padding: 10px 0px 0px;
}
.whatDo .main-sec .inner-sec-l p, .whatDo .main-sec .inner-sec-r p{
	font-size: 14px;
	font-weight: 400;
	margin: 0px;
	color: #525f7f;
	padding: 10px 0px;
}
.whatDo .inner-btn02 {
	width: 100%;
	padding: 40px 0px 0px;
}
.whatDo .inner-btn02 .btn-primary{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	background: #845cff;
	border: 1px solid #eee;
	transition: 1s;
}
.whatDo .inner-btn02 .btn-primary:hover, .whatDo .inner-btn02 .btn-primary:focus{
	background: transparent;
	border: 1px solid #845cff;
	color: #845cff;
}
.whatDo .inner-btn02 .btn-light{
	font-size: 16px;
	font-weight: 600;
	background: transparent;
	border: none;
	color: #525f7f;
	padding: 0px 25px;
	transition: 1s;
}
.whatDo .inner-btn02 .btn-light:hover, .whatDo .inner-btn02 .btn-light:focus{
	color: #845cff;
}
.whatDo .inner-btn02 .fa {
	font-size: 15px;
	padding: 5px 5px;
}


.whatWeDo{
	width: 100%;
	padding: 80px 0px;
}
.whatWeDo .main-sect {
	padding: 30px 0px 0px;
}
.whatWeDo .main-sect h2{
	font-size: 32px;
	font-weight: 300;
	line-height: 50px;
	letter-spacing: 1px;
	margin: 15px 0px 0px;
	color: #32325d;
}
.whatWeDo .main-sect p{
	font-size: 14px;
	font-weight: 400;
	margin: 0px;
	color: #525f7f;
	padding: 25px 0px;
}
.whatWeDo .main-sect .inner-sec-l1 h3, .whatWeDo .main-sect .inner-sec-r1 h3{
	font-size: 25px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 1px;
	margin: 0px;
	color: #32325d;
	padding: 10px 0px 0px;
}
.whatWeDo .main-sect .inner-sec-l1 p, .whatWeDo .main-sect .inner-sec-r1 p{
	font-size: 14px;
	font-weight: 400;
	margin: 0px;
	color: #525f7f;
	padding: 10px 0px;
}
.whatWeDo .inner-btn02 {
	width: 100%;
	padding: 40px 0px 0px;
}
.whatWeDo .inner-btn02 .btn-primary{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	background: #845cff;
	border: 1px solid #eee;
	transition: 1s;
}
.whatWeDo .inner-btn02 .btn-primary:hover, .whatWeDo .inner-btn02 .btn-primary:focus{
	background: transparent;
	border: 1px solid #845cff;
	color: #845cff;
}
.whatWeDo .inner-btn02 .btn-light{
	font-size: 16px;
	font-weight: 600;
	background: transparent;
	border: none;
	color: #525f7f;
	padding: 0px 25px;
	transition: 1s;
}
.whatWeDo .inner-btn02 .btn-light:hover, .whatWeDo .inner-btn02 .btn-light:focus{
	color: #845cff;
}
.whatWeDo .inner-btn02 .fa {
	font-size: 15px;
	padding: 5px 5px;
}
/*What we do section ends*/

/*Finance section starts*/
.finance{
	width: 100%;
	padding: 80px 0px;
}
.finance .story{

}
.finance .story h2 {
	font-size: 35px;
	font-weight: 300;
	line-height: 50px;
	letter-spacing: 1px;
	padding: 60px 0px 0px;
	color: #32325d;
	margin: 0px;
}
.finance .story p{
	font-size: 14px;
	font-weight: 400;
	margin: 0px;
	color: #525f7f;
	padding: 35px 0px;
}
.finance .image-s img {
	height: 485px;
}
.finance .save{

}
.finance .save h4 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0px;
	padding: 60px 0px 30px;
}
.finance .save ul li{
	list-style: none;
}
.finance .save ul li img {
	padding: 15px 15px 15px 0px;
}
.finance .save2{

}
.finance .save2 h4 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0px;
	padding: 60px 0px 30px;
}
.finance .save2 ul li{
	list-style: none;
}
.finance .save2 ul li img {
	padding: 15px 15px 15px 0px;
}

.finance .save3{

}
.finance .save3 h4 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0px;
	padding: 60px 0px 30px;
}
.finance .save3 ul li{
	list-style: none;
}
.finance .save3 ul li img {
	padding: 15px 15px 15px 0px;
}
/*Finance section ends*/


/*mail section starts*/
.mail{
	width: 100%;
	padding: 80px 0px;
	background: #fafaff;
}
.mail .get-started{

}
.mail .get-started img{

}
.mail .get-started h2 {
	font-size: 35px;
	font-weight: 300;
	color: #212240;
	padding: 20px 0px;
}
.mail .get-started p {
	margin: 0px;
	font-size: 16px;
	font-weight: 400;
	color: #212240;
}

.mail .box{

}
.mail .box .form-inline{
	margin: 0px;
}
.mail .box .form-control {
	position: relative;
	top: 35px;
	/*left: -80px;*/
	border: none;
	box-shadow: -2px 2px 10px #eee;
	padding: 30px 220px 30px 0px;
}
.mail .box .form-control::placeholder{
	color: #8081ab;
	padding: 0px 20px;
}
.mail .box .btn-primary {
	position: absolute;
	font-size: 14px;
	font-weight: 600;
	right: 130px;
	top: 50px;
	background: transparent;
	color: #845cff;
	border: none;
	transition: 1s;
}
.mail .box .btn-primary img {
	padding: 0px 0px 0px 8px;
}
.mail .box .btn-primary:hover, .mail .box .btn-primary:focus{
	color: #000;
}
/*mail section ends*/

/*main footer starts*/

.mainFoot{
	width: 100%;
	padding: 80px 0px;
	background: #212240;
}
.mainFoot .add{
	font-size: 14px;
	font-weight: 400;
	color: #d3d3d9;
}
.mainFoot .add img {
    padding: 20px 0px 45px;
}
.mainFoot .add p {
	padding: 10px 0px 0px;
}
.mainFoot .add ul {
	display: block;
	margin: 0px;
	padding: 40px 0px 0px;
}
.mainFoot .add ul li{
	list-style: none;
	display: inline-block;
}
.mainFoot .add ul li a span .fa{
	padding: 0px;
	color: #555377;
	font-size: 18px;
}
.mainFoot .add ul li a .fa {
	margin: 0px;
	padding: 0px 0px 0px 30px;
	color: #555377;
	font-size: 18px;
	transition: 1s;
}
.mainFoot .add ul li a .fa:hover, .mainFoot .add ul li a .fa:focus{
	color: #93B3DF;
}

.mainFoot .part01, .part02, .part03{

}
.mainFoot .part01 ul, .part03 ul{
	margin: 0px;
	padding: 0px;
}
.mainFoot .part02 ul{
	margin: 0px;
	padding: 0px;
}
.mainFoot .part02 ul li{
	list-style: none;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 0px;
}
.mainFoot .part02 ul li a{
	font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #d3d3d9;
    transition: 1s;
}
.mainFoot .part01 ul li, .part03 ul li {
    list-style: none;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 0px;
}
.mainFoot .part01 ul li a, .part03 ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #d3d3d9;
    transition: 1s;
}
.mainFoot ul li a:hover, .mainFoot ul li a:focus{
	color: #93B3DF;
}
.mainFoot .copywrite {
    margin: 0px;
    padding: 100px 0px 0px;
    color: #555377;
	font-size: 14px;
}
.mainFoot .op {
    margin: 0px;
    padding: 100px 0px 0px;
    color: #555377;
	font-size: 14px;
}
.mainFoot .op ul{
	margin: 0px;
	padding: 0px;
	text-align: right;
}
.mainFoot .op ul li{
	display: inline-block;
	list-style: none;
}
.mainFoot .op ul li a {
    padding: 0px 24px;
    color: #555377;
    font-size: 14px;
    font-weight: 400;
    transition: 1s;
}
.mainFoot .op ul li a:hover, .mainFoot .op ul li a:focus{
	color: #93B3DF;
}
/*main footer ends*/